<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmsozDH7d_LfMP6yx4pvVHhCze9uKSUGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>109632163727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JoelAlejandroMilla.MedTracker</string>
	<key>PROJECT_ID</key>
	<string>medtracker-9131d</string>
	<key>STORAGE_BUCKET</key>
	<string>medtracker-9131d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109632163727:ios:215f4dd541258e0a8145fa</string>
</dict>
</plist>